* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#6c610b, #768714, #07252d, #846c0c);
}
h2 {
  position: relative;
  font-size: 6em;
  letter-spacing: 15px;
  background: transparent;
  color: #e0ef10;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 8px linear-gradient(transparent, #000400);
  line-height: 0.7em;
  outline: none;
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #095e76;
    box-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.5%,
  65%,
  80.5%,
  90%,
  92.1%,
  100% {
    color: #f9fbfb;
    box-shadow: 0 0 10px #03bcf4, 0 0 20px #1fafdc, 0 0 40px #03bcf4,
      0 0 80px #62b6cf, 0 0 160px #0a6a87;
    /* Temporarily remove glowing shadow effect */
    box-shadow: none;
  }
}
